{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <title>Foodprint Grenoble</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Berlin Sans FB&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Josefin Sans&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/affichage.css' %}">
    </head>
    
    <body>
        <header class="page-header">
            <h1><a href="/">Foodprint Grenoble</a></h1>
            <h2><p>Empreintes carbone du jour</p></h2>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
	    			<div class="affiche">
	        			<h3> <p>RU Diderot</p> </h3>
	        			<img src="{% static 'media/Diderot.png' %}" HEIGHT=180 WIDTH=320/>
	    			</div>
	    		</div>

                <div class="col-md-4">
					<div class="affiche">
	        			<h3> <p>RU Green</p> </h3>
	        			<img src="{% static 'media/Green.png' %}" HEIGHT=180 WIDTH=320/>
	    			</div>
	    		</div>

	    		<div class="col-md-4">
	    			<div class="affiche">
	        			<h3> <p>RU Minatec</p> </h3>
	        			<img src="{% static 'media/Minatec.png' %}" HEIGHT=180 WIDTH=320/>
	    			</div>
	    		</div>

	    		<div class="col-md-4">
					<div class="affiche">
	        			<h3> <p>RU Intermezzo</p> </h3>
	        			<img src="{% static 'media/Intermezzo.png' %}" HEIGHT=180 WIDTH=320/>
	    			</div>
                </div>
            </div>
        </div>

    </body>

</html>
