.page-header {
    background-color: #50A460;
    margin-top: 0;
    padding: 5px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 42pt;
    font-family: 'Akaya Telivigala';
    text-align: center;
    text-decoration: none;
}

h3, h3 a {
	color: #ffffff;
    font-size: 24pt;
    font-family: 'Josefin Sans';
    text-align: center;
    text-decoration: none;
}

.col-md-4 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

body {
	background-color: #D8D8D8;
}

.container {
    margin-left: auto;
}

.save {
    float: right;
}


.affiche {
    margin-bottom: 70px;
}

.affiche h2, .affiche h2 a {
    color: #000000;
    font-family: 'Josefin Sans';
}